body {
    font-family: $font-stack;
    background-color: $sprout-green;
    color: $color-white;
}

h1 {
    font-size: 3em;
    margin: auto 0;
}

a {
    text-decoration: none;
    color: $color-white;
}

header {
    display: flex;
    justify-content: space-between;
}

.logout {
    width: 25%;
}