.button-profile {
    color: transparent;
    width: 60px; height: 60px;
    background-image: url($user-icon);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    left: 10px;
}

.modal {
    button {
        box-shadow: none;
        // @include box-shadow(4px);
    }
}

.add-btn {
    height: 60px;
    width: 60px;
    border: 3px solid $color-white;
    background: transparent;
    border-radius: 50%;
    position: relative;
    span {
        position: absolute;
        left: 0;
        right: 0;
        bottom: -4px;
        color: $color-white;
        font-size: 4rem;
        z-index: -1;
    }
}

.add-board-button {
    flex: 0 0 100%;
    margin: 20px 10px;
}

.primary-btn {
    border: 3px solid $color-white;
    color: $color-white;
    text-transform: uppercase;
    background: transparent;
    border-radius: $border-radius;
    padding: 10px 20px;
    cursor: pointer;
    margin: auto;
    @include box-shadow;
    margin-top: 5px;
}

.close-btn {
    background: none;
    border: 0;
    color: $color-white;
    padding: 0 10px;
    font-size: 2rem;
}