.button-profile {
    color: transparent;
    width: 60px; height: 60px;
    background-image: url($user-icon);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    left: 10px;
}

.modal {
    button {
        box-shadow: none;
    }
}
.add-board-btn {
    flex: 0 0 100%;
    margin: 20px 10px;
}

.primary-btn {
    border: 3px solid white;
    color: white;
    text-transform: uppercase;
    background: transparent;
    border-radius: 3px;
    padding: 10px 20px;
    cursor: pointer;
    margin: auto;
    @include box-shadow;
    margin-top: 5px;
}

.close-btn {
    background: none;
    border: 0;
    color: white;
    padding: 0 10px;
    font-size: 2rem;
}