button {
    border-radius: 3px;
    border: 1px solid #fff;
    background: $bg-grey;
    padding: 10px 20px;
    cursor: pointer;
}

.button-profile {
    color: transparent;
    width: 60px; height: 60px;
    background-image: url($user-icon);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    left: 10px;
}

.button-new-event {
    margin: auto;
}

.add-board-btn {
    flex: 0 0 100%;
    margin: 20px 10px;
}