.intro {
    margin: 0 0 50px;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px 0 50px;
}

.eventList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.event-boards {
    display: flex;
    flex-wrap: wrap;
    // justify-content: center;
}

.new-board-container {
    display: block;
    width: 100%;
}