.intro {
    margin: 0 0 50px;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 50px 0 100px;
}

.eventList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    // padding: 50px 0;
}

.main-nav {
    display: flex;
    margin: 50px 0;
}

.modal_container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    .modal_bg {
        position: absolute;
        background: white;
        opacity: 0.5;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
    }
}

.modal {  
    width: 60%;
    padding:20px;
    background: $sprout-green;
    border-radius: 3px;
    button {
        border: 2px solid $sprout-green;
    }
}