textarea {
    display: block;
    padding: 10px 20px;
    width: 100%;
    border-radius: 3px;    
    margin-right: 22px;
}
input {
    border-radius: 3px;
    border: 0;
    padding: 10px 20px;
    margin-right: 15px;
    width: 30%;
}