.modal_container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    .modal_bg {
        position: absolute;
        background: white;
        opacity: 0.5;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
    }
}

.modal {  
    max-width: 600px;
    width: 60%;
    padding: 40px 20px;
    background: $sprout-green;
    border-radius: $border-radius;
    text-align: center;
    p { margin-bottom: 20px; }
    button {
        margin: 0 5px;
        border: 2px solid #FFF;
    }
}

//restructure styles for later
// .modal {
//     &__container {}
//     button {}
//     &__bg {}
// }