//TYPOGRAPHY
$font-stack: 'Roboto', sans-serif;

//ICONS
$user-icon: '../assets/user-icon.svg';
$add-icon: '../assets/add-icon.svg';

//PALETTE
$bg-grey: #808080;
$light-grey: #E2E4E6;

$sprout-pale: #8FC79E;
$sprout-light: #7CBE8F;
$sprout-green: #00ca6c;
$sprout-shadow: #00ac5c;

$error-red: #CA3437;

// input moment variables
$color-gray: #dfe0e4;
$color-white: #fff;
$color-black: #131111;
$slider-handle-size: 20px;
$slider-size: 4px;
$slider-fix: 20px;