$font-stack: 'Roboto', sans-serif;

$bg-grey: #808080;
$font-color-grey: rgb(49, 47, 47);

$sprout-green: #00ca6c;
$sprout-shadow: #00ac5c;

// input moment variables
$color-gray: #dfe0e4;
$color-white: #ffffff;
$slider-handle-size: 20px;
$slider-size: 4px;
$slider-fix: 20px;